.topRecipeBar {
    display: flex;
    flex-direction: row;
    background-color: #E0EBFF;
    width: 100%;
    height: 150px;
}

.checkOut {
    margin: auto 35px;
    height: 60%;
    border-radius: 15px;
    background-color: #5D5AEE;
    width: 17%;
}

.textParagraph {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 17px;
    margin-top: 30px;
}

.recipeList {
    display: flex;
    flex-direction: row;
}