.recipe {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #e0ebff, #eaefff, #f2f4ff, #f9f9ff, #ffffff);
    width: 50%;
    height: 200px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
}

.picture {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #C4C4C4;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
}