.searchBox {
    height: 30px;
    width: 250px;
    border-radius: 12px;
    border: white;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-right: 650px;
}

.searchButton {
    margin-left: 8px;
    width: 40px;
    border-radius: 100%;
    border: white;
}

.searchButton:hover {
    opacity: 0.8;
}